*{
    margin: 0;
    padding: 0;
}
body
    {
    background-image: url("image/bg\ 13.jpg"); 
    background-size: cover;
    }

header
    {
    font-family: Lucida Sans;
    font-size: 50px;
    color: rgb(255, 233, 172);
    text-align: center;
    padding: 10px;
    }

table, th, td
    {
    border: 1px solid #3a1605;
    width: 600px;
    height: 10px;
    font-family: Lucida Sans;
    font-size: 15px;
    color: rgb(255, 255, 255);
    }
th, td 
    {
    background-color: #3a1605;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    }

footer 
    {
    font-family: Lucida Sans;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center; 
    }  
        
    