*{
    margin: 0;
    padding: 0;
}

body
    {
    background-image: url("image/bg\ 9.jpg"); 
    background-size: cover;
    }

.meta
     * {
        box-sizing: border-box;
       }
        
    
.column 
        {
        float: center;
        width: 900px;
        height: 200px;
        padding: 70px;
        text-align: justify;
        line-break: auto;
        }
        
.row:after 
        {
        display: table-column;
        clear: both;
        }
        
h1     {
        font-family: Lucida Sans;
        font-size: 60px;
        text-align: center;
        color: rgb(196, 124, 107);
        padding: 10px; 
       } 
    
div h2 
       {
        background-color:rgb(228, 170, 216);
        width: 450px;
        height: 30px;
        font-family: Lucida Sans; 
        font-size: 18px;
        padding: 15px;
       }
    
div p1 
       {
        background-color:rgb(228, 170, 216);
        width: 400px;
        height: 450px;
        font-family: Lucida Sans; 
        font-size: 15px;
       }

div h3 {
        background-color:rgb(218, 142, 208);
        width: 300px;
        height: 30px;
        font-family: Lucida Sans; 
        font-size: 18px;
        padding: 15px;
        }

div p2      
       {
        background-color:rgb(218, 142, 208);
        width: 500px;
        height: 50px;
        font-family: Lucida Sans; 
        font-size: 15px;
       }

div h4 {
        background-color:rgb(207, 123, 189);
        width: 400px;
        height: 25px;
        font-family: Lucida Sans; 
        font-size: 18px;
        padding: 15px;
       }
    
div p3      
       {
        background-color:rgb(207, 123, 189);
        width: 500px;
        height: 50px;
        font-family: Lucida Sans; 
        font-size: 15px;
       }

div h5 {
        background-color:rgb(196, 128, 181);
        width: 300px;
        height: 20px;
        font-family: Lucida Sans; 
        font-size: 18px;
        padding: 10px;
       }

a href
       {
        background-color:rgb(196, 128, 181);
        size: 30px;
       }
    

a:link, a:visited
        {
        background-color: rgb(236, 184, 229);
        width: 800px;
        height: 30px;
        font-family: Lucida Sans;
        font-size: 15px;
        color: rgb(41, 18, 37);
        padding: 20px; 
        text-align: center;
        text-decoration: rgb(124, 56, 124);
        display: flexbox;
        }
a:hover, a:active 
        {
        background-color:#9c688d;
        }

    
footer  {
        font-family: Lucida Sans;
        font-size: 15px;
        color: rgb(255, 255, 255);
        text-align: center; 
        }  
            
